@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.wrap{
    margin: 0 auto;
    width: 75%;
}

/* 상단 네비 */
header div.wrap a{
    color: #2699FB;
}
header{
    background-color: #F1F9FF;
    color: #2699FB;
    overflow: hidden;
    clear: both;
    padding: 0.8% 0;
}
header div.wrap h1{
    font-size: 2em;
    float: left;
    vertical-align: middle;
}
header div.wrap nav{
    margin-left: 5%;
}
header div.wrap nav ul li{
    float: left;
    margin-left: 15px;
    position: relative;
    bottom: 0;
}
header div.wrap nav ul.headmenu li{
    padding-top: 10px;
    font-size: 1.2em;
}
header div.wrap nav ul.headicon{
    float: right;
}
header div.wrap nav ul.headicon li{
    cursor: pointer;
}

/* 하단 */

body>div.main{
    margin-top: 20px;
    clear: both;
    overflow: hidden;
}

/* 하단 네비 */
body>div.main nav{
    font-size: 1.6em;
    float: left;
    width: 18%;
}

body>div.main nav> *{
    color: #2699FB;
    font-weight: 600;
    border: 1px solid #BCE0FD;
    border-radius: 8px;
} 

body>div.main nav input{
    font-size: 1em;
    background-color: #F1F9FF;
    font-weight: 600;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
}
body>div.main nav input:hover{
    color: white;
    background-color: #2699FB;
    cursor: pointer;
}

body>div.main nav ul li{
    text-align: center;
    border-bottom: 1px solid #BCE0FD;
    padding: 10px 20px;
}
body>div.main nav ul li:last-child{
    border: none;
}
body>div.main nav ul li:first-child:hover{
    background-color: #fff;
    border-radius: 8px 8px 0 0;
}
body>div.main nav ul li:last-child:hover{
    border-radius: 0 0 8px 8px;
}
body>div.main nav ul li:hover{
    cursor: pointer;
    background-color: #F1F9FF;
}
/* 하단 내용 */
body>div.main div.post{
    color: #2699FB;
    float: right;
    width: 80%;
}
body>div.main div.post h2{
    font-size: 2.8em;
    float: left;
    margin-bottom: 20px;
}
body>div.main div.post ul.align{
    float: right;
}
body>div.main div.post ul.align li{
    float: left;
}

body>div.main div.post div.card{
    padding: 30px 35px 25px;
    margin-top: 15px;
    clear: both;
    overflow: hidden;
    font-size: 1.5em;
    color: #2699FB;
    font-style: normal;
    border: 1px solid #BCE0FD;
    border-radius: 30px;
}

body>div.main div.post div.card div.propic{
    margin-right: 2%;
    width: 16%;
    float: left;
    clear: both;
}

body>div.main div.post div.card div.propic span{
    width: 100%;
    height: 230px;
    background-color: #BCE0FD;
    border-radius: 8px;
    text-align: center;
    font-size: 5em;
}


body>div.main div.post div.card div.propic input{
    
    cursor: pointer;
    font-size: 1em;
    background-color: #F1F9FF;
    color: #2699FB;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #BCE0FD;
    border-radius: 8px;
}

body>div.main div.post div.card div.propic input:hover{
    color: white;
    background-color: #2699FB;
    cursor: pointer;
}

body>div.main div.post div.card div.protxt{
    width: 75%;
    padding: 8px 0;
    overflow: hidden;
}

body>div.main div.post div.card div.protxt b{
    margin-top: 140px;
    padding: 5px 20px;
    border: 1px solid #BCE0FD;
    border-radius: 8px;
}
body>div.main div.post div.card div.protxt h3{
    margin-top: 40px;
    font-size: 1.6em;
}
body>div.main div.post div.card div.protxt p{
    margin-top: 10px;
    font-size: 1em;
}

body>div.main div.post div.card div.protxt em{
    font-style: normal;
    display: block;
    margin-top: 30px;
    font-size: 1.2em;
}

/* 페이지수 버튼 */

body>div.main div.post ul.number{
    width: 30%;
    margin: 0 auto;
    clear: both;
    margin-top: 20px;
}
body>div.main div.post ul.number li:first-child{
    margin-right: 10px;
}
body>div.main div.post ul.number li:last-child{
    margin-left: 10px;
    margin-right: 0px;
}
body>div.main div.post ul.number li{
    float: left;
}
body>div.main div.post ul.number li input{
    color: #2699FB;
    font-size: 1.2em;
    padding: 5px 10px;
    margin-right: 3px;
    border: 1px solid #BCE0FD;
    background: #fff;
}
body>div.main div.post ul.number li input:hover{
    cursor: pointer;
    background-color: #2699FB;
    color: #fff;
    font-weight: 600;
    border: 1px solid #2699FB;
}
