@charset "utf-8";

/* 우측 포스트 */
.col-md-10{
-ms-flex: 0 0 78%;
    flex: 0 0 78%;
    max-width: 78%;
    padding-right: 0;
    padding-left: 0;
    /*border: 1px solid red;*/
  }
.post{
    margin-left: 1.5%;
}
/* 우측 인포메이션 칸 전체*/
.glyphicon-edit{
    display: block;
    width: 10px;
    height: 10px;
}
.myPageJt{
    background-color: #fff;
    border-radius: 20px;
    box-shadow:0px 20px 30px rgba(38,153,251,0.1);
    padding: 4% 2% 3.5%;
    clear: both;
    overflow: hidden;
    transition: all 0.5s;
}
.myPageJt:hover{
    
    box-shadow:0px 20px 30px rgba(38,153,251,0.2);
}

/* - 프로필사진*/
.pic{
    width: 26%;
    float: left;
    clear: both;
}
.propic{
    width: 23vmin;
    height: 23vmin;
    border-radius: 50%;
    background-image: url(https://66.media.tumblr.com/37cc61c00fcb8826b4ced444a77a3996/9be819e36e690a8d-98/s1280x1920/d94ee5910b41ec925c90de34a521a828a24c9ef7.jpg);
    background-size: cover;
    background-position: center;
    box-shadow:0px 5px 15px rgba(38,153,251,0.1);
    transition: all 0.5s;
}
.propic:hover{
    box-shadow:0px 10px 15px rgba(38,153,251,0.2)
}

/* - 정보 */
.info{
    float: left;
    /*border: 1px solid red;*/
    width: 70%;
    margin-left: 1.5%;
}
.info *{
    display: block;
    }
em, strong, b, em, s{
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

em/*섹션 제목*/{
    color: #999FAE;
    padding-bottom: 1.5%;
    font-size: 1.1em;
    font-weight: 300;
}
strong/*이름*/{
    padding-left: 0.5%;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 2.2em;
    color: #333F5D;
    float: left;
    margin-right: 1%;
}
.tag/*헬피 헬퍼 태그 - bg컬러 달라야함*/{
    border-radius: 60px;
    background-color: #3EE632;
    padding: 0.3% 2.1%;
    font-size: 1em;
    font-weight: 500;
    color:#fff;
    margin-top: 1.8%;
}

b/*회원정보*/{
    clear: both;
    color: #707070;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 1.5%;
    margin-bottom: 3%;
}

s/*잔액*/{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 1.9em;
    color: #333F5D;
    float: left !important;
    margin-right: 2%;
}
s>em/*원 강조*/{
    display: inline !important; 
    font-family: 'Jost';
    font-weight: 400;
    font-size: 0.95em;
    margin-left: 3%;
}

.charge{
    font-family: 'Jost';
    font-weight: 500;
    border-radius: 50px;
    padding: 0.8% 2%;
    font-size: 1.1em;
    color:#fff;
    background: #477EFF;
    border: none;
}
.charge:hover{
    background: linear-gradient(130deg, #5A8BFF 0%,#37D1CC 50%,#3EE632);
    background-size: 200% 200%;
    animation: MoveGrad 3.5s ease infinite;
}

@keyframes MoveGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* 우측 하단 카드 */
.col-lg-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 0;
    padding-left: 0;
}

.cardsg{
    margin-top: 2%;
    width: 100%;
    margin-left: 0%;
}

.card{
    background: none;
    border: none;
    padding: 0 4%;
    margin: 0;
}
.col-lg-3:first-child .card{
    padding-left: 0;
}

.col-lg-3:last-child .card{
    padding-right: 0;
}

.card-body{
    border: none;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:0px 20px 30px rgba(38,153,251,0.1);
    transition: all 0.5s;
    height: 25vmin;
    text-align: center;
}
.firstcard{
    margin-right: 0;
}
.card-body:hover{
    
    box-shadow:0px 20px 30px rgba(38,153,251,0.2);
}

.card-title{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 1.5em;
    color: #477EFF;
    padding-bottom: 5%;
}

.card-text{
    color: #999FAE;
    padding-bottom: 2%;
}
.card .btn{
    font-family: 'Jost';
    font-weight: 600;
    font-size: 1.7em;
    color: #fff;
    border-radius: 100%;
    vertical-align: middle;
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    border: 5px solid #fff;
    background: linear-gradient(130deg, #3672FF 0%,#37D1CC 50%,#3EE632);
    box-shadow:0px 5px 15px rgba(38,153,251,0.2);
    background-size: 200% 200%;
    animation: MoveGrad 3.5s ease infinite;
}

.card .helper-button-main{
    background: linear-gradient(130deg, #FFD500 0%,#C0EC2B 40%,#3EE632);
    background-size: 200% 200%;
    animation: MoveGrad 3.5s ease infinite;
    margin-left: 5%;
}