@charset "utf-8";

.col-md-10{
    -ms-flex: 0 0 78%;
        flex: 0 0 78%;
        max-width: 78%;
        padding-right: 0;
        padding-left: 0;
        /*border: 1px solid red;*/
      }
    .post{
        margin-left: 1.8%;
    }

.myPageBoard{
    clear: both;
}

.sgprocess{
    width: 100%;
}

.col-lg-4{
    -ms-flex: 0 0 31.4%;
    flex: 0 0 31.4%;
    max-width: 31.4%;
    
}
/*
    transition: all 0.5s;
    box-shadow:0px 20px 30px rgba(38,153,251,0.1);
    :hover{
    box-shadow:0px 20px 30px rgba(38,153,251,0.2);
}
*/
.tong{
    padding: 0;
    margin: 0;
    margin-left:  1.5%;
    border-radius: 20px !important;
    background: #fff;
    box-shadow:0px 10px 20px rgba(38,153,251,0.1);
    transition: all 0.5s;
}

.tong:hover{
    box-shadow:0px 20px 30px rgba(38,153,251,0.2);}

.card{
    border: none;
    background: none;
}

.card-body{
    padding: 0;
    margin: 0;
}

.card-header{
    text-align: center;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 1.5em;
    color: #477EFF;
    padding: 8% ;
    border: none;
    background: none;
   
}

.mr-3{
    margin: 0 !important;
    box-shadow:0px 5px 15px rgba(38,153,251,0.1);
    transition: all 0.5s;
    margin-bottom: 3% !important;
}

.h-name{
    width: 90%;
    margin: 0 auto;
    border-top: 1px dotted #B7E5FF;
    padding-top: 8%;
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 1.3em;
    color: #333F5D;
}

.h-body{
    text-align: center;
    padding: 8% 0;
    color: #707070;
    font-weight: 400;
    font-size: 1em;
    padding-top: 1.5%;
    margin-bottom: 3%;
}

.sgprocess .btn{
    font-family: 'Jost';
    font-weight: 500;
    border-radius: 50px;
    padding: 1.5% 4.6%;
    font-size: 1.1em;
    color:#fff;
    border: none;
    background-color: #477EFF;
    transition: all 0.5s;
}

.sgprocess .btn:hover{
    background: linear-gradient(130deg, #5A8BFF 0%,#37D1CC 50%,#3EE632);
    background-size: 200% 200%;
    animation: MoveGrad 3.5s ease infinite;
}
@keyframes MoveGrad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
