.logo{
    display: block;
    width: 100px;
}

.logo-main{
    display: inline-block;
    width: 350px;
}


.cls-1 {
    isolation: isolate;
}
.cls-2 {
    fill: #fff;
    box-shadow: #3ee632;
}


.navbar-brand {
    padding: 0;
}

*:focus {
    outline: 0 !important;
}

body{
    font-family: 'Jost', sans-serif;
    color: #3d3f47;

}
a{
    color: #3d3f47;
}

ul {
   list-style:none;
   padding-left:0px;
}

button,
input {
  overflow: none;
}



/* input */ 
.form-control{
    border-radius: 50px;
}

.custom-select{
    border-radius: 50px;
}


/* button */

.btn{
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
}

.btn:hover{
    background-color: #3ee632;
    color: #fff;
    
}



.helper-button{
    border: none;
    background-color: rgb(255, 204, 0);
}


.helper-button-main{
    border: none;
    background-color: #477eff;
    transition: all ease 500ms;
}

    
.helper-button-main:hover{
     transform: scale(1.01);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}


#image_container{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 1px solid lightgray;
    overflow: hidden;
}




/* navBar */

#mainNavbar {
    
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #fff
}

#mainNavbar .nav-link:hover {
    color: #3ee632;
    cursor: pointer;
}

#mainNavbar .navbar-brand {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 0;
    
}
.navbar-brand{
    padding:10px;
}

@media (max-width: 768px) {
    #mainNavbar {
        background-color:#477eff
    }
}


.navbar.scrolled {
    background: #477eff

}

.navbar-toggler:focus,
.navbar-toggler:active,
.fa-align-right:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

/*modal*/
.modal-content  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important; 
    border: none;
}




/* main components */

.jumbotron {
    width: 100vw;
    height: 70vh;
    align-items: center;
    margin: 0;
}

.jt-text{
    font-weight: 400;
    margin-top: 12rem;
    color: #fff;
}

.container-fluid{
    padding: 0;
}

.carousel-inner{
    height: 300px;
}

.carousel-caption {
    position: sticky;
}
.ds-data-container{
    display: flex;
}
.ds-data1{
    flex: auto;
    width: auto;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin-top: 15px;
}

.ds-data2{
    flex: auto;
    width: auto;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin-top: 15px;
}

.ranking-box-container{
  margin-top: 15px;
}
.card-header:first-child{
    border-radius: 50px;
    background-color: #ffc400;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}

.card{
    border: none;
}


.card-body{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 25px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all ease 500ms;

}

.card-body:hover {
    transform: scale(1.01);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}


.selUserStat{
    height: 120vh;
    text-align: center;
    padding-top: 50vh;
}

.custom-file-label {
    border-radius: 50px;
}
.custom-file-label::after{
    background-color: transparent;
    border-radius: 0 50px 50px  0;
}

.form-desc{
    border-radius: 25px;
}



/*Board*/
.jt-btn{
    margin-top: 5rem;

}
.helperBoard{
    margin-top: 2em;
}

.service-tag-box{
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}

.service-helper-button{
    background-color: #ffc400;
    border-radius: 25px;
}

.mobile-service-tag-box{
    margin: 0;
    width: 100%;
    height: 2.5em;
}

.helperPost{
    margin-top: 1em;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    z-index: 1;
    background-color: #fff;
    transition: all ease 500ms;
}

.helper-button-main{
    margin-top: 1em;
}

.helperPost:hover {
    transform: scale(1.01);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}


.helpeeBoard{
    margin-top: 2em;
}

.helpeePost{
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 0.2rem;
}


.profile-box-container{
    padding:1.5rem;
}

.profile-img-box{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.badge{
    background-color: #3ee632;
    color: #fff;
    margin-top: 10px;
}
.badge:hover{
    color: #fff;
}

.profile-box-header{
    font-weight: 400;
    margin-top: 15px;
}

.profile-box-body{
    margin: 10px;
    margin-left: 0;
    font-weight: 300;
}


.mobile-write-btn{
    border-radius: 50%;
    position: fixed;
    left: 80%;
    top: 85%;
    z-index: 4;
    width: 2em;
    height: 2em;
    font-size: 2em;
}


.helper-button-page{
   color: #ffc400;
   font-size: 1rem;
   width: 1em;
   height: 1em;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.helper-button-page:hover{
    color: #3ee632;
    background-color: transparent;
}

.name-box{
    transition: all ease 500ms;
}
.name-box:hover{
    transform: scale(1.1);
   text-decoration: underline #3ee632;
}

.self-desc{

}

/*read more*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}


.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  padding: 0 .5em;
  color: #fff;
  line-height: 2;
  background-color: #477eff;
  border-radius: 50px
}
.read-more-trigger:hover {
    background-color: #3ee632;
}

.boardReview{
    padding-top: 1rem;
    
}

.list-group{
    border-radius: 25px;
    border: none;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}


.list-header{
    display: inline-block;
    padding: 0 1em;
    color: #fff;
    line-height: 2;
    background-color: #3ee632;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
}

.list-group-item{
    border: none;
}


/*writeForm*/
.writeForm{

    height: 100vh;
    margin-top: 6em;
    padding: 2rem;
    padding-top: 3rem;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #fff;
    transition: all ease 500ms;
}

.writeFormContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #3ee632;
}


.form-control-write{
    border-radius: 25px;
}

.checkbox-btn{
    color: #fff;
    background-color: #ffc400;
    border: none;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #3ee632;
}

.btn-secondary:focus{
    background-color: #ffc400;
}

/*myPage*/


.myPageBoard{
    margin-top: 5rem;
}

.myPageJt{
    padding-top: 5rem;
}



/*footer*/

.footer{
    margin-top: 3rem;
    background-color: #3d3f47;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer a{
    color: #fff;
}

.footer-link{
    font-weight: 300;
}

.footer-link:hover{
    color: #3ee632;
    cursor: pointer;
}

